{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div style="margin: 20px; padding: 20px ">
    <h1>Nuestra Historia</h1>
<p>Relucinete aseo fue creada en el año 2021, esta surgio debido a que por la pandemia varios integrantes de la familia
nos quedamos sin trabajo por ende nos reunimos a proponer ideas para tener ingresos en lo cual tuvimos encuenta factores como;

    <ul>

    <li> Fechas de vencimiento.</li>

    <li> Almacenamiento.</li>

    <li> Tiempo de dedicacion.</li>

    </ul>
Es por esto que decidimos productos de aseo, emprendimiento el cual es manejado de manera only, no contamos
con punto de venta fisico, se cuenta con el transporte necesario para realizar entregas, en el momento solo distribuimos
productos de aseo en la ciudad de Bogotá.

<p>
    <ul>

    <h3> Misión </h3>
Reluciente Aseo tiene como fin llevar a los hogares productos de aseo de calidad y a un buen precio, productos que cuiden de nuestras prendas y piel.<p>

<h3>Visión</h3>
<p>
Reluciente Aseo para el 2023 sera reconocida por su eficiencia y eficacion en sus productos, respuestas al cliente y entrega de productos, distribuyendo a las afueras de la ciudad de Bogotá<p>

<h3>Valores</h3>
<p>
En Reluciente Aseo contamos con excelentes personas cuyo accionar está inspirado en los siguientes valores y muchos otros:<p>

     <ul>
    <li>Liderazgo: esforzarse en dar forma a un futuro mejor;</li>
     <li>Colaboración: potenciar el talento colectivo;</li>
     <li>Integridad: ser transparentes y éticos;</li>
     <li>Diversidad: contar con un amplio abanico de recursos;</li>
     <li>Calidad: búsqueda de la excelencia.</li>
     <li>Inclusión: todos los individuos tienen los mismos derechos y oportunidades.</li>
    </ul>
</div>

<div style="display: flex; justify-content: center; margin: 50px;">
    <img src="{% static 'img/2 imagen.jpg'%}" width="250" height="150"/>

{% endblock %}