{% load static %}
<nav>
    <img src="{% static 'img/logo.png.png'%}" width="250" height="150"/>
    <div style="display: flex; justify-content: center; margin: 50px;">
        <h2>Reluciente Aseo</h2>
    <ul>

        <li><a href=" {% url 'index'%}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
  <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
</svg>Inicio</a></li>
        <li><a href=" {% url 'productos'%}">Productos</a></li>
        <li><a href=" {% url 'contactenos'%}">Contáctenos</a></li>
        {% if user.is_authenticated %}
            <li><a> Hola, {{user.username}}</a></li>
            <li><a href=" {% url 'logout'%}">Cerrar Sesión</a></li>
            {% else %}
            <li><a href=" {% url 'registro'%}">Registro</a></li>
            <li><a href=" {% url 'login'%}">Iniciar Sesión</a></li>
        {% endif %}
    </ul>
</nav>

