:root{
   --color-primary: #5792A4;
   --color-secondary: #92D14F;
   --color-three: #FFFFFF;
   --color-title: #DD99E9;
   --color-text: #011F39;
   --color-bg: #41B2BC;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box
}

nav{
  width: 100vw;
  display:flex;
  justify-content: space-between;
  align-item: center;
  height: 150px;
  background-color: var(--color-primary);
}
nav img{
  margin: 4px;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  elign-items: center;
}
nav ul li{
  padding: 20px;
}


nav ul li a:hover{
  color: black;
}
main{
  background-color: var(--color- bg)
}

footer{
  width: 100vw;
  height: 150px;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul{
    list-style: none;
}

footer img{
  margin: 20px;
}
nav ul li a{
  text-decoration: none;
  color: var(--color-three);
  font-size: 20px;
  font-weight: 700;
}